node_modules/

# Secretos
server/.env

# Bases de datos
*.db
*.db-shm
*.db-wal

# Logs y archivos del sistema
.DS_Store
*.log

# Copias de seguridad
backup/
*.backup
*.backup-*
*.save

# Backups con nombres específicos
index-backup.html
script-backup.js
# Cualquier archivo de copia de seguridad
*backup*
*.save